<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>
	<title>Ajout d'un projet</title>
</head>

<body class="text-center">
	<section layout:fragment="contenu">
		<form th:action="@{/mvcprojets/add}" th:object="${projet}" method="post">
			<div class="form-group,form-floating"> Id: <input class="form-control" readonly type="text" name="idProjet"
					th:field="*{idProjet}" /></div>
			<div class="form-group,form-floating"> Description: <input class="form-control" type="text" id="description"
					name="description" th:field="*{description}" /></div>
			<div><button class="btn btn-primary" type="submit">Enregistrer</button></div>
		</form>
	</section>


</body>

</html>